@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300;400;500;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,*::after,*::before{
  margin: 0;padding: 0;box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: "work", Sans-serif;
}
nav{
  background-color: #0649639c;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
  padding: 1.5rem 2rem;
  backdrop-filter: blur(20px);
}
.nav-links{
  display: flex;
justify-content: space-evenly;
align-items: center;

}
.links{
  display: flex;
justify-content: space-evenly;
gap: 3rem;
list-style: none;
}
.menu{
display: none;
}
.logo{
  font-size: 2rem;
  font-family: "work", Sans-serif;
  color: #fcfcff;
  font-weight: 100;
}
.link{
 text-decoration: none;
 color: orange;
  font-size: 1.7rem;
  transition: all .3s;
  text-transform: uppercase;
}
.link:hover{
  color: #fcfcff;
}

/* responsive of navbar */

@media(max-width:1250px) {
  .nav-links{
    display: flex;
    justify-content: space-between;
    padding:0 3rem;
    
  }
}
@media(max-width:1020px) {
  .link{
  font-size: 1.3rem;
    
  }
}
@media(max-width:900px) {
  .links{
  display: none;
    
  }

  .menu{
    display: flex;
    color: #fcfcff;
    font-size: 1.7rem;
  }
}

/* ---------end of nav----------- */


.home-container{
  background-color: #fcfcffcb;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
}
.home{
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 3rem;
  align-items: center;
}
.home-text{
  line-height: 3rem;

}
.home-text h1{
  font-size: 2.5rem;
  color: orange;
}
.home-text p{
  font-size: 1.9rem;
  font-family: "work","san-serif";
  font-weight: 300;
  color: rgba(0, 0, 0, 0.692);
  padding: 1.4rem 0;
}
.hire{
  padding: 1rem 2.5rem;
  border: none;
  background-color: royalblue;
  color: #fcfcff;
  transition: all .3s;
}
.hire:hover{
  background-color: #fcfcff;
  color: royalblue;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

/* --------- responsive homepage ------------ */

@media(max-width:1250px) {
  .home{
    display: flex;
    justify-content: space-between;
    padding:3rem 4rem;
    
  }
}
@media(max-width:1044px) {
  .home-image{
 width: 300px;
    height: 300px;
  }
  .home-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 2rem;
  }
}
@media(max-width:757px) {
  .home{
  display: flex;
  flex-direction: column;
    
  }

}

/* -------------------end of home --------------- */



.about-container{
  background-color: rgb(243, 243, 243);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.479);
}
.about{
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 3rem;
  gap: 3rem;
}
.about-text{
  line-height: 3rem;
  width: 40%;
}
.about-text p{
  font-size: 1.9rem;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.692);
  text-transform: capitalize;
}
.about-text h1{
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  color: orange;
}

/* --------- responsive homepage ------------ */

@media(max-width:1250px) {
  .about{
    display: flex;
    justify-content: space-between;
    padding:3rem 4rem;
    
  }
}
@media(max-width:1044px) {
  .about{
    display: flex;
    justify-content: space-between;
    padding:3rem 4rem;
    flex-direction: column;
    
  }
  .about-image{
 width: 300px;
    height: 300px;
  }
  .about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 2rem;
  }
}
@media(max-width:427px) {
  .about-text h1{
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    color: orange;
  }

}
@media(max-width:342px) {
  .about-image{
    width: 100px;
       height: 100px;
     }
     .about-image img{
       width: 100%;
       height: 100%;
       object-fit: cover;
       padding-top: 2rem;
       border-radius: 100%;
     }
     .home{
      display: flex;
      flex-direction: column-reverse;
     }
     .home-image{
      width: 100px;
    height: 100px;
     }
     .home-image img{
      width: 100%;
    height: 100%;
     }


}
@media(max-width:342px) {
  .about-image{
    width: 100px;
       height: 100px;
     }
     .about-text h1{
    
    font-size: 1.4rem;
    
     }
     
  


}

/* -------------------end of about --------------- */



.service-container{
  background-color: rgb(243, 243, 243);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.479);
  padding: 3rem;
}
.head{
  color: orange;
  text-align: center;
  font-size: 3rem;
}
.card{
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.486);
  border-top-right-radius: 2rem ;
  border-top-left-radius: 2rem ;
  width: 300px;
  
}
.text-card{
color: #858a5a;
font-family: "work", Sans-serif;
font-size: 1.5rem;
line-height: 3rem;
padding: 1.4rem;
}
.text-card h1{
  font-size: 1.4rem;
  font-family: "work", Sans-serif;
  text-transform: uppercase;
}
.image-card{
width: 100%;
height: 300px;
border-right: 2rem 2rem;

}
.image-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 2rem ;
  border-top-left-radius: 2rem ;
}
.service-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}
.nextp{
  background-color: royalblue;
 
}
.nextp a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fcfcff;
}

/* -------------------------blogs--------------------- */
.blogs-container{
  background-color: #f0f0f096;
}
.blogs{
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 3rem;
}
.blog-card{
  background-color: rgb(255, 255, 255);
  display: flex;
gap: 3rem;
box-shadow: 2px 2px 2px #0649635b;
border-bottom-right-radius: 2rem;
border-top-right-radius: 2rem;
width: 100%;
}
.blog-image{
  width: 400px;
  height: 400px;
}
.blog-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-text{
 
  padding: 2rem;
  width: 100%;
  line-height: 3rem;
}
.blog-text h1{
  font-size: 2.5rem;
  font-family: "work", Sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 900;
  color: orange;
}
.blog-text p{
  padding: 1rem 0;
  font-size: 1.9rem;
  color: #000000c0;
}
.icons{

  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
}
.icons i{
  font-size: 2rem;
}
.icons span{

display: flex;
align-items: center;
font-family: "work", Sans-serif;
gap: 1rem;
font-weight: 400;
}

.blog-a{
  font-size: 1.5rem;
  text-align: center;
}
.blog-a a{
  text-decoration: none;
  color: #0a4466;
}



.form-container{
  background: #031540;
  height: 100vh;
  width: 100%;
  padding: 2rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container form{
      padding: 1rem 0;
      background: #ffffff;
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      border: 4px solid #031540;
      outline: 4px solid #ffffff;
}
.form-container form h4{
      color: #031540;
      font-size: 2rem;
      padding-bottom: 2rem;
  }
  .form-container form .input-box{
      display: flex;
      flex-direction: column;
  }
  .form-container form .input-box label{
          color: #031540;
          font-size: 1.2rem;
      }
      .form-container form.input-boxinput{
          padding: .4rem 0;
      }
      .form-container form .btn{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .form-container form .btn button{
          padding: 1rem 2rem;
          font-size: 1.8rem;
          color: #031540;
          font-weight: 700;
          border: 2px solid #031540;
          border-radius: 5px;
          transition: .5s;
      }
      .form-container form .btn button:hover{
              background: #031540;
              color: #ffffff;
          }
          .form-container form p{
           color: #031540;
          }
          .form-container form a{
          color: #00abf0;
          font-weight: 800;
      }